/* =============================================================================
  IN-PAGE MENU COMPONENT
============================================================================= */
.page-menu {
  border: 1px solid #cacaca;
  padding: 20px;
  width: auto;
  display: inline-block;
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}

.page-menu__title {
  font-weight: bold;
}

.page-menu__list {
  padding-left: 20px;
}

.page-menu__item {
  
}