/* =============================================================================
  MENU COMPONENT
============================================================================= */

.navigation {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #cacaca;
  padding-top: 20px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  transition: all 200ms !important; // sorry!
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

/* =============================================================================
  MENU EXTENDER
============================================================================= */

.menu__item.has-sub a {
  padding-right: 10px;
}

.menu__extend {
  padding: 10px;
  cursor: pointer;
  flex: 0 0 auto;
}

.menu__extend--main {
  padding: 20px 10px;
}

.menu__extend:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* =============================================================================
  MENU ON SMALL SCREEN
============================================================================= */
@media (max-width: 599px) {
  .menu {
    list-style: outside none none;
    padding-left: 0px;
  }
}

/* =============================================================================
  MENU ON WIDE SCREEN
============================================================================= */
@media (min-width: 600px) {
  .menu {
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  .name {
    padding: 20px;
    text-transform: uppercase;
    background: #333;
    color: white;
    font-weight: bold;
    float: left;
  }

  .menu__item {
    list-style-type: none;
    display: flex;

    a {
      padding: 10px;
      display: inline-block;
      flex: 1 0 auto;
    }

    &:hover {
      background: whitesmoke;
    }
  }

  .menu__item--main {
    display: inline-block;

    > a {
      padding: 20px;
    }
  }

  .menu__item--sub {
    position: relative;
  }

  .submenu {
    display: none;
    position: absolute;
    list-style-type: none;
    padding-left: 0;
    border: 1px solid rgb(202, 202, 202);
    background: white;
  }

  .submenu.is-open {
    display: block;
  }

  .submenu--sub {
    top: -1px;
    left: 100%;
    width: 100%;
  }

}
