/* =============================================================================
  MESSAGES
============================================================================= */

.message  {
  text-align: justify;
  padding: 20px;
  width: 100%;
  border: 1px solid #cacaca;
}

.message--warning {
  // todo.
}
