/* =============================================================================
  FOOTER COMPONENT
============================================================================= */
footer {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  color: white;
  background: #333;
}