/* =============================================================================
  FOOTER COMPONENT
============================================================================= */
.footer {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #cacaca;
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  position: fixed;
  will-change: transform;
}

.footer.headroom--pinned {
  transform: translateY(100%);
}

.footer.headroom--unpinned {
  transform: translateY(0);
}
