/* =============================================================================
  SETTINGS
============================================================================= */
$main-color: hsl(207, 90%, 54%);

/* =============================================================================
  BREAKPOINTS
============================================================================= */
$md-value: 850px;
$md: "min-width: #{$md-value}";
$debug-panel-width: 260px;
$md-with-panel: "min-width: #{$md-value + $debug-panel-width}"
